<p>Profile for user</p> <%= @user.username %> || <%= @user.email %>
</br>
<%= @profile.bio %>
</br>
<%= @profile.city %>
</br>
<%= @profile.country %>
<p>User has vote for:</p>
<% current_user.find_voted_items.each do |item| %>
    <ul>
      <li>
        <%= link_to item.title, post_path(item) %>
      </li>
    </ul>
<%end %>
