<div class="container">
  <h2>Join Vigap!</h2>

  <div class="vigform">
    <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
            <div class="error">
              <h4>Form is invalid</h4>
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="field" id="_signup_username">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
        <div class="field" id="_signup_email">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <div class="field" id="_signup_password">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="action">
          <%= f.submit 'Sign in', class: 'btn btn-info', id: '_signup_signin' %>
        </div>
    <% end %>
  </div>
</div>