<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <%= image_tag @user.avatar.url(:medium), :class => "img-circle img-responsive" %>
    </div>
    <div class="col-sm-10"><h1 style="padding-top:24px;margin-left:-10px;"><%= @user.username %></h1></div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3"><!--left col-->
          <div id="follow_form">
            <% if current_user.following?(@user) %>
                <%= render 'unfollow' %>
            <% else %>
                <%= render 'follow' %>
            <% end %>
          </div>
      <ul class="list-group">
        <li class="list-group-item text-muted">Profile</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> <%= time_ago_in_words(@user.created_at) %> ago</li>
      </ul>

      <ul class="list-group">
        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> <%= @user.posts.count %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Following</strong></span> <%= @user.followed_users.count %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> <%= @user.followers.count %></li>
        <%= link_to 'Followers', followers_user_path(@user) %>
        <%= link_to 'Following', following_user_path(@user) %>

      </ul>

      <div>
        <h3>Subscription posts!</h3>
        <% @user.subscription_posts.each do |subscription_post| %>
        <%= link_to subscription_post.title, post_path(subscription_post) %>
            
        <% end %>
      </div>

      <!--
      <div class="panel panel-default">
        <div class="panel-heading">Social Media</div>
        <div class="panel-body">
          <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
        </div>
      </div>
      -->

    </div><!--/col-3-->
    <div class="col-sm-9">

      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#posts" data-toggle="tab">Posts</a></li>
        <% if current_user.username == @user.username %>
            <li><a href="#settings" data-toggle="tab">Settings</a></li>
        <% end %>
      </ul>

      <div class="tab-content">

        <div class="tab-pane active" id="posts">
          <h2></h2>
          <ul class="list-group">
            <% @user.posts.each do |post| %>
                <li class="list-group-item text-right">
                  <%= link_to post.title, post_path(post), :class => "pull-left" %>
                  <%= time_ago_in_words(post.created_at) %>
                </li>
            <% end %>
          </ul>
        </div><!--/tab-pane-->

        <% if current_user.username == @user.username %>
            <div class="tab-pane" id="settings">
              <hr>
              <%= form_for @user,  :html => { :multipart => true } do |f| %>

                  <div class="form-group">
                    <div class="col-xs-6">
                      <label for="username"><h4><%= f.label :username%></h4></label>
                      <%= f.text_field :username, :class => "form-control" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-6">
                      <label for="city"><h4><%= f.label :email %></h4></label>
                      <%= f.text_field :email, :class => "form-control" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-6">
                      <label for="city"><h4><%= f.label :city %></h4></label>
                      <%= f.text_field :city, :class => "form-control" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-6">
                      <label for="city"><h4><%= f.label :bio %></h4></label>
                      <%= f.text_field :bio, :class => "form-control" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-6">
                      <label for="password"><h4> <%= f.label :password %></h4></label>
                      <%= f.password_field :password, :class => "form-control" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-6">
                      <label for="password"><h4> <%= f.label :avatar %></h4></label>
                      <%= f.file_field :avatar, :class => "form-control" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12">
                      <br>
                      <%= f.submit 'save', :class => "btn btn-success btn-lrg" %>
                    </div>
                  </div>
              <% end %>
            </div>
        <% end %>

      </div><!--/tab-pane-->
    </div><!--/tab-content-->

  </div><!--/col-9-->
</div><!--/row-->



