<footer>
  <div class="container">
    <div class="f-right">&copy; Vigap <%= Time.now.year %></div>
    <div class="f-left">
      <%= link_to 'Home', root_path %> &bull;
      <%= link_to 'About', post_path(id: 'about-vigap') %> &bull;
      <%= link_to 'Terms & Privacy', post_path(id: 'vigap-terms-privacy') %>
      <%- if current_user %>
        &bull;
        <%= link_to 'Contact', contact_path %>
      <%- end %>
    </div>
  </div>
</footer>

