<header class="site-wide">
  <div class="container">
    <div class="inliner">
        <%= link_to image_tag("vigap-logo.png", width: 40), "#{request.protocol}#{request.host_with_port}", :class => "brand", :id => '_home' %>
    </div>

    <div class="header-14-sub inliner">
      <div class="subscribe-form col-sm-8">
        <%= form_tag root_path, method: :get, class: "navbar-form navbar-center" do %>

            <div class="input-group">
              <%= text_field_tag :query, params[:query], placeholder: t('search.field_placeholder'), class: 'typeahead form-control searchbox' %>
              <span class="input-group-btn">
                 <%= submit_tag('search', id: '_home_search', class: 'btn btn-small', name: 'submit') %>
                </span>
            </div>

        <% end %>
      </div> <!-- .ubscribe-form col-sm-8 col-sm-offset-2 -->
    </div> <!-- .header-14-sub -->


    <div class="user-area">

      <!-- user face -->
      <% if current_user %>
          <a href="<%=user_path(current_user)%>" class="no-style" id="_home_profile">
            <span class="user-avatar"><%= image_tag current_user.avatar.url, width: 30 %></span>
            <strong><%= current_user.username %></strong>
            <span class="inliner icon icon-angle-right"></span>
          </a>
      <% else %>
          <%= link_to t('user.user_login'), new_session_path, title: t('user.user_login'), id: '_home_singin' %>
      <% end %>


      <!-- post -->
      <% if current_user %>
          <%= link_to t('user.add_post'), new_post_path, class: 'action', title: t('user.add_post'), id: '_new_post' %>
      <% end %>

      <!-- logout / sign up -->
      <% if current_user %>
          <%= link_to t('user.user_logout'), logout_path, title: t('user.user_logout'), id: '_home_logout'  %>
      <% else %>
          <%= link_to t('user.user_signup_html'), new_user_path, class: 'action', title: t('user.user_signup'), id: '_home_signup' %>
      <% end %>

    </div>

  </div>
</header>