
<div class="hero-container"></div> <!-- .hero-container -->

<div class="container">
<% if @results.present? %>
<% else %>


  <h2>Top Posts</h2>
  <div class="group-container-none">
  <ul class="grouped-list-none">
  <% @top_posts.each do |top| %>

        <li class="menu-item list-group-item">


        <% if top.images.url != "/images/original/missing.png" %>
          <div class="pic">
            <a href="<%= post_path(id: top.slug) %>">
                <img src="<%= top.images.url %>" alt="Placeholder" width="260" height="150" />
            </a>
          </div> <!-- .pic -->
        <% end %>

          <h4 class="list-group-item-heading">
            <small>

              <span class="next-av"></span>

              Added by: <a href="#" title="User">Username</a></small>
            <a href="<%= post_path(id: top.slug) %>" title="<%= top.title %>"><%= top.title %></a></h4>
          </h4>



          <p>
            <%= truncate(strip_tags(top.body.html_safe), :length => 100, :omission => '... (continued)', :escape => false) %>
          </p>

          <div class="card-footer">




            <!--Types of label: Default Primary Success Info Warning Danger-->
            <% if top.updated_at > Time.now - 1.days %>
                  <span class="post-stats icon icon-clock-o warn">
            <% else %>
                  <span class="post-stats icon icon-clock-o">
            <% end %>
            <span><%=time_ago_in_words(top.updated_at)%></span></span>

            <% if top.cached_votes_up > 0 %>
                  <span class="post-stats icon icon-thumbs-up">
                    <span><%= top.cached_votes_up %></span>
                  </span>
            <% end %>

            <% if top.cached_votes_down > 0 %>
                  <span class="post-stats icon icon-thumbs-down">
                    <span><%=top.cached_votes_down%></span>
                  </span>
            <% end %>

            <% if top.comments %>
                <span class="post-stats icon icon-comment">
                  <span><%=top.comments.length%></span>
                </span>
            <% end %>
          </div>
        </li>
  <% end %>
  </ul>
  </div> <!-- .container -->
<% end %>
<h2>Latest things</h2>

<% if @results %>
      <div class="group-container">
          <ul class="menu grouped-list">
            <% @results.each do |result| %>





                <li class="menu-item list-group-item">


                  <% if result.images.url != "/images/original/missing.png" %>
                      <div class="pic">
                        <a href="<%= post_path(id: result.slug) %>">
                          <img src="<%= result.images.url %>" alt="Placeholder" width="260" height="150" />
                        </a>
                      </div> <!-- .pic -->
                  <% end %>

                  <h4 class="list-group-item-heading">
                    <small><span class="next-av"></span> Added by: <a href="#" title="User">Username</a></small>
                    <a href="<%= post_path(id: result.slug) %>" title="<%= result.title %>"><%= result.title %></a>
                  </h4>



                  <p>
                    <%= truncate(strip_tags(result.body.html_safe), :length => 100, :omission => '... (continued)', :escape => false) %>
                  </p>

                  <div class="card-footer">




                    <!--Types of label: Default Primary Success Info Warning Danger-->
                    <% if result.updated_at > Time.now - 1.days %>
                              <span class="post-stats icon icon-clock-o warn">
                    <% else %>
                              <span class="post-stats icon icon-clock-o">
                    <% end %>
                    <span><%=time_ago_in_words(result.updated_at)%></span></span>

                    <% if result.cached_votes_up > 0 %>
                              <span class="post-stats icon icon-thumbs-up">
                                <span><%= result.cached_votes_up %></span>
                              </span>
                    <% end %>

                    <% if result.cached_votes_down > 0 %>
                              <span class="post-stats icon icon-thumbs-down">
                                <span><%=result.cached_votes_down%></span>
                              </span>
                    <% end %>

                    <% if result.comments %>
                            <span class="post-stats icon icon-comment">
                              <span><%=result.comments.size %></span>
                            </span>
                    <% end %>
                  </div>
                </li>




            <% end %>
          </ul>
      </div> <!-- container -->

<% else %>
      <div class="group-container">
        <ul class="menu grouped-list">
          <% @posts.each do |post| %>
                <li class="menu-item list-group-item">


                <% if post.images.url != "/images/original/missing.png" %>
                  <div class="pic">
                    <a href="<%= post_path(id: post.slug) %>">
                        <img src="<%= post.images.url %>" alt="Placeholder" width="260" height="150" />
                    </a>
                  </div> <!-- .pic -->
                <% end %>

                <h4 class="list-group-item-heading">
                  <small><span class="next-av"></span> Added by: <a href="#" title="User">Username</a></small>
                  <a href="<%= post_path(id: post.slug) %>" title="<%= post.title %>"><%= post.title %></a>
                </h4>



                <p>
                  <%= truncate(strip_tags(post.body.html_safe), :length => 100, :omission => '... (continued)', :escape => false) %>
                </p>

                <div class="card-footer">

           <!--Types of label: Default Primary Success Info Warning Danger-->
                          <% if post.updated_at > Time.now - 1.days %>
                              <span class="post-stats icon icon-clock-o warn">
                          <% else %>
                              <span class="post-stats icon icon-clock-o">
                          <% end %>
                          <span><%=time_ago_in_words(post.updated_at)%></span></span>

                        <% if post.cached_votes_up > 0 %>
                              <span class="post-stats icon icon-thumbs-up">
                                <span><%= post.cached_votes_up %></span>
                              </span>
                        <% end %>

                        <% if post.cached_votes_down > 0 %>
                              <span class="post-stats icon icon-thumbs-down">
                                <span><%=post.cached_votes_down%></span>
                              </span>
                        <% end %>

                        <% if post.comments %>
                            <span class="post-stats icon icon-comment">
                              <span><%=post.comments.size %></span>
                            </span>
                        <% end %>
                </div>
           </li>
          <% end %>
        </ul>
      </div> <!-- .container -->
    <%= paginate @posts, :default_per_page => '8' %>

<% end %>
</div>

<div class="container">
  <h2>Top Categories</h2>
  <div class="centered">
    <% @top_tags.each do |category| %>

        <%= link_to category.name, tag_path(category), class: 'tag', id: '_homepage_tags' %>

    <% end %>
  </div>
</div>