<%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track' => true %>

<div class="container">
<% if @results %>
  <div class="menu row">
    <% @results.each do |result| %>
        <div class="menu-category list-group">
            <a href=<%= post_path(result) %> class="menu-item list-group-item">

              <h4 class="list-group-item-heading"><%= result.title %></h4>

              <% if result.updated_at > Time.now - 1.days %>
                  <span class="label label-warning glyphicon glyphicon-dashboard">&nbsp;
              <% else %>
                  <span class="label label-default glyphicon glyphicon-dashboard">&nbsp;
              <% end %>
              <%=time_ago_in_words(result.updated_at)%></span>

              <p class="menu-item list-group-item-text"><%= truncate(result.body, :length => 150, :omission => '... (continued)') %></p>

              <% if result.cached_votes_up > 0 %>
                  <span class="label label-success glyphicon glyphicon-thumbs-up">
                  &nbsp;<%=result.cached_votes_up%></span>
              <% end %>

              <% if result.cached_votes_down > 0 %>
                  <span class="label label-danger glyphicon glyphicon-thumbs-down">
                  &nbsp;<%=result.cached_votes_down%></span>
              <% end %>

              <% if result.comments %>
                <span class="label label-primary glyphicon glyphicon-comment">
                  &nbsp;<%=result.comments.size%>
                </span>
              <% end %>
            </a>
        </div>
    <% end %>
  </div>

<% else %>
    <div class="menu row">
      <% @posts.each do |post| %>
          <div class="menu-category list-group">
            <a href=<%= post_path(id: post.slug) %> class="menu-item list-group-item">

            <h4 class="list-group-item-heading"><%= post.title %></h4>

            <!--Types of label: Default Primary Success Info Warning Danger-->
            <% if post.updated_at > Time.now - 1.days %>
                  <span class="label label-warning glyphicon glyphicon-dashboard">&nbsp;
            <% else %>
                  <span class="label label-defa ult glyphicon glyphicon-dashboard">&nbsp;
            <% end %>
            <%=time_ago_in_words(post.updated_at)%></span>

            <p class="menu-item list-group-item-text"><%= truncate(post.body.html_safe, :length => 150, :omission => '... (continued)', :escape => false) %></p>

            <% if post.cached_votes_up > 0 %>
                  <span class="label label-success glyphicon glyphicon-thumbs-up">
                  &nbsp;<%=post.cached_votes_up%></span>
            <% end %>

            <% if post.cached_votes_down > 0 %>
                  <span class="label label-danger glyphicon glyphicon-thumbs-down">
                  &nbsp;<%=post.cached_votes_down%></span>
            <% end %>

            <% if post.list_of_comments %>
                <span class="label label-primary glyphicon glyphicon-comment">
                  &nbsp;<%=post.list_of_comments.length%>
                </span>
            <% end %>
            </a>
          </div>
      <% end %>
    </div>

    <%= paginate @posts %>

<% end %>

  <h2>Top Posts</h2>
  <% @top_posts.each do |top| %>
    <h3>
      <%= link_to top.title, post_path(top.slug) %>
      <br>
    </h3>
  <% end %>

  <h2>Top Categories</h2>
  <% @top_tags.each do |category| %>
  <h3>
    <%= link_to category.name, tag_path(category) %>
  </h3>
   <% end %>
</div>
