
<div class="hero-container"></div> <!-- .hero-container -->

<div class="container">
<% if @results.present? %>
<% else %>


  <h2>Top Posts</h2>
  <div class="group-container-none">
  <ul class="grouped-list-none">
  <% @top_posts.each do |top| %>

        <li class="menu-item list-group-item">


        <% if top.main_picture %>
          <div class="pic">
            <a href="<%= post_path(id: top.slug) %>">
                <img src="<%= top.main_picture.image.url %>" alt="Placeholder" width="260" height="150" />
            </a>
          </div> <!-- .pic -->
        <% end %>

          <h4 class="list-group-item-heading">
            <small>

              <span class="next-av">
                <img class="img-circle" width="60" height="60" src="<%= top.user.avatar.url(:thumb) rescue  asset_path('missing-avatar.png') %>">
              </span>
              Added by: <a href="<%= user_path(top.user) rescue "" %>" title="User"><%= top.user.username rescue "Vigap" %></a></small>
            <a href="<%= post_path(id: top.slug) %>" title="<%= top.title %>"><%= top.title %></a></h4>
          </h4>



          <p>
            <%= truncate(strip_tags(top.body.html_safe), :length => 100, :omission => '... (continued)', :escape => false) %>
          </p>

          <div class="card-footer">




            <!--Types of label: Default Primary Success Info Warning Danger-->
            <% if top.updated_at > Time.now - 1.days %>
                  <span class="post-stats icon icon-clock-o warn">
            <% else %>
                  <span class="post-stats icon icon-clock-o">
            <% end %>
            <span><%=time_ago_in_words(top.updated_at)%></span></span>

            <% if top.cached_votes_up > 0 %>
                  <span class="post-stats icon icon-thumbs-up">
                    <span><%= top.cached_votes_up %></span>
                  </span>
            <% end %>

            <% if top.cached_votes_down > 0 %>
                  <span class="post-stats icon icon-thumbs-down">
                    <span><%=top.cached_votes_down%></span>
                  </span>
            <% end %>

            <% if top.comments %>
                <span class="post-stats icon icon-comment">
                  <span><%=top.comments.length%></span>
                </span>
            <% end %>
          </div>
        </li>
  <% end %>
  </ul>
  </div> <!-- .container -->
<% end %>

<% if @results %>
<h2>Search results</h2>
      <div class="group-container-none">
          <ul class="grouped-list-none">
            <% @results.each do |result| %>

                <li class="menu-item list-group-item">

                  <% if result.main_picture %>
                      <div class="pic">
                        <a href="<%= post_path(id: result.slug) %>">
                          <img src="<%= result.main_picture.image.url %>" alt="Placeholder" width="260" height="150" />
                        </a>
                      </div> <!-- .pic -->
                  <% end %>

                  <h4 class="list-group-item-heading">
                  <small>

                    <% author = User.find(result.user_id) rescue nil %>
                    <span class="next-av">
                      <img class="img-circle" width="60" height="60" src="<%= author.avatar.url(:thumb) rescue  asset_path('missing-avatar.png') %>">
                    </span>
                    Added by: <a href="<%= user_path(author) rescue "" %>" title="User"><%= author.username rescue "Vigap" %></a></small>
                    <a href="<%= post_path(id: result.slug) %>" title="<%= result.title %>"><%= result.title %></a>
                  </h4>



                  <p>
                    <%= truncate(strip_tags(result.body.html_safe), :length => 100, :omission => '... (continued)', :escape => false) %>
                  </p>

                  <div class="card-footer">




                    <!--Types of label: Default Primary Success Info Warning Danger-->
                    <% if result.updated_at > Time.now - 1.days %>
                              <span class="post-stats icon icon-clock-o warn">
                    <% else %>
                              <span class="post-stats icon icon-clock-o">
                    <% end %>
                    <span><%=time_ago_in_words(result.updated_at)%></span></span>

                    <% if result.cached_votes_up > 0 %>
                              <span class="post-stats icon icon-thumbs-up">
                                <span><%= result.cached_votes_up %></span>
                              </span>
                    <% end %>

                    <% if result.cached_votes_down > 0 %>
                              <span class="post-stats icon icon-thumbs-down">
                                <span><%=result.cached_votes_down%></span>
                              </span>
                    <% end %>

                    <% if result.comments %>
                            <span class="post-stats icon icon-comment">
                              <span><%=result.comments.length %></span>
                            </span>
                    <% end %>
                  </div>
                </li>




            <% end %>
          </ul>
      </div> <!-- container -->

<% else %>
<h2>Latest things</h2>
      <div class="group-container-none">
        <ul class="grouped-list-none">
          <% @posts.each do |post| %>
                <li class="menu-item list-group-item">


                <% if post.main_picture %>
                  <div class="pic">
                    <a href="<%= post_path(id: post.slug) %>">
                        <img src="<%= post.main_picture.image.url %>" alt="Placeholder" width="260" height="150" />
                    </a>
                  </div> <!-- .pic -->
                <% end %>

                <h4 class="list-group-item-heading">
                  <small>

                    <% author = User.find(post.user_id) rescue nil %>
                    <span class="next-av">
                      <img class="img-circle" width="60" height="60" src="<%= author.avatar.url(:thumb) rescue  asset_path('missing-avatar.png') %>">
                    </span>
                    Added by: <a href="<%= user_path(author) rescue "" %>" title="User"><%= author.username rescue "Vigap" %></a></small>
                  <a href="<%= post_path(id: post.slug) %>" title="<%= post.title %>"><%= post.title %></a>
                </h4>



                <p>
                  <%= truncate(strip_tags(post.body.html_safe), :length => 100, :omission => '... (continued)', :escape => false) %>
                </p>

                <div class="card-footer">

           <!--Types of label: Default Primary Success Info Warning Danger-->
                          <% if post.updated_at > Time.now - 1.days %>
                              <span class="post-stats icon icon-clock-o warn">
                          <% else %>
                              <span class="post-stats icon icon-clock-o">
                          <% end %>
                          <span><%=time_ago_in_words(post.updated_at)%></span></span>

                        <% if post.cached_votes_up > 0 %>
                              <span class="post-stats icon icon-thumbs-up">
                                <span><%= post.cached_votes_up %></span>
                              </span>
                        <% end %>

                        <% if post.cached_votes_down > 0 %>
                              <span class="post-stats icon icon-thumbs-down">
                                <span><%=post.cached_votes_down%></span>
                              </span>
                        <% end %>

                        <% if post.comments %>
                            <span class="post-stats icon icon-comment">
                              <span><%=post.comments.length %></span>
                            </span>
                        <% end %>
                </div>
           </li>
          <% end %>
        </ul>
      </div> <!-- .container -->
    <%= paginate @posts, :default_per_page => '8' %>

</div>

<div class="container">
  <h2>Top Categories</h2>
  <div class="centered">
    <% @top_tags.each do |category| %>

        <%= link_to category.name, tag_path(category), class: 'tag', id: '_homepage_tags' %>

    <% end %>
  </div>
</div>
<% end %>
