
<% if @results %>
    <% @results.each do |result| %>
        <div>
          <p>
            <%= result.title %>
            <%= link_to result.title, post_path(result) %>
          </p>
        </div>
        <div>
          <strong>user: </strong> <%= result.try(:user).try(:username) %>
        </div>
        <hr>
        <div>
          <p>
            <%= result.body %>
          </p>
        </div>
        <p>
          <strong>Created:</strong> <%= time_ago_in_words(result.created_at) %> ago
        </p>
        <hr>
        <p>Comments numbers: <%= result.comments.size %> </p>
    <% end %>

<% else %>
    <div class="list-group row">
    <% @posts.each do |post| %>
      <a href=<%= post_path(post) %> class="list-group-item col-xs-4">
          <h4 class="list-group-item-heading"><%= post.title %></h4>
          <p class="list-group-item-text"><%= post.body %></p>
      </a>
        <% #require "pp" %>
        <% #puts post.pretty_inspect %>
    <% end %>
    </div>
    <%= will_paginate @posts, class: 'pagination pagination-centered' %>

<% end %>
