<%= form_for @post do |f| %>
    <br>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title, class: 'form' %>
    <br>
    <br>
    <div class="field">
      <%= f.label :tag_list, "Tags (separated by commas)" %><br />
      <%= f.text_field :tag_list %>
    </div>
    <br>
    <div class="field">
      <%= f.hidden_field :body, html: { id: 'body' } %>
    </div>
    <br>
    <div class="editable" style="height:300px;" data-field-id="body"></div>
    <br>
    <%= f.submit 'Submit', class: 'btn btn-info' %>
<% end %>

<script>
    var editor = new MediumEditor('.editable');
    $('.editable').bind('input propertychange', function() {
      $("#post_" + $(this).attr("data-field-id")).val($(this).html());
    });
</script>

