<%= stylesheet_link_tag 'newpost', media: 'all', 'data-turbolinks-track' => true %>

<div class="row" id="composer-box">
<%= form_for @post do |f| %>
  <div id="title">
    <%= f.text_area :title, class: 'form', :placeholder => "Title", :maxlength => 56, :rows => 1, :cols => 21, :style => "text-align:center;border:none !important;outline: 0;overflow: auto; resize: none;" %>
 
    <script type="text/javascript">
    document.getElementById('post_title').addEventListener('keyup', function () {
      this.style.height = 0; // this is necessary to make it shrink when deleting
      this.style.height = this.scrollHeight + 'px';
    }, false);
    </script>

    <br>
  </div>
    <div class="field">
      <%= f.hidden_field :body, html: { id: 'body' } %>
    </div>
    <br>
    <div class="editable" data-field-id="body" id="_newpost_body"></div>
    <br>
    <div class="field">
      <%= f.text_field :tag_list, :placeholder => "Tags (separated by commas)", :style => "width:100%;outline: 0;border: none;font-size:21px;font-color: rgba(0,0,0,0.3);font-weight:100;" %>
    </div>
    <br>
    <%= f.submit 'Submit', class: 'btn btn-lg btn-info', id: '_newpost_submit' %>
<% end %>
</div>

<script>
$(function () {
  var editor = new MediumEditor('.editable', {
    placeholder: 'Write your post'
  });
  $('.editable').bind('input propertychange', function() {
    $("#post_" + $(this).attr("data-field-id")).val($(this).html());
  });

  $('.editable').mediumInsert({
    editor: editor,
    addons: {
      images: {},
      embeds: {
        oembedProxy: 'http://medium.iframe.ly/api/oembed?iframe=1'
      },
      tables: {}
    }
  });

  var allContents = editor.serialize();
  var elContent = allContents["element-0"].value;

});


</script>

