<%= form_for @post do |f| %>
    <br>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title, class: 'form' %>
    <br>
    <%= f.label :body %>
    <br>
    <div class="field">
      <%= f.label :tag_list, "Tags (separated by commas)" %><br />
      <%= f.text_field :tag_list %>
    </div>
    <br>
      <%= f.text_area(:body, cols: 110, rows: 10, class: 'textarea-body') %>
    <br>
    <br>
    <%= f.submit 'say it', class: 'btn btn-info' %>
<% end %>


<script>var editor = new MediumEditor('.textarea-body');</script>



