<div class="jumbotron">
  <h1><%= @post.title  %></h1>
  <p><%= @post.body %></p>
  <% if current_user %>
      <h2>
      
      <% if @post.cached_votes_up > 0 %>
          <%= link_to " #{@post.cached_votes_up}", up_post_path(@post), method: :put, remote: true, id: 'link_up', class:'label label-success glyphicon glyphicon-thumbs-up' %>
      <% else %>
          <%= link_to " #{@post.cached_votes_up}", up_post_path(@post), method: :put, remote: true, id: 'link_up', class:'label label-default glyphicon glyphicon-thumbs-up' %>
      <% end %>

      <% if @post.cached_votes_down > 0 %>
          <%= link_to " #{@post.cached_votes_down}", down_post_path(@post), method: :put, remote: true, id: 'link_down', class:'label label-danger glyphicon glyphicon-thumbs-down' %>
      <% else %>
          <%= link_to " #{@post.cached_votes_down}", down_post_path(@post), method: :put, remote: true, id: 'link_down', class:'label label-default glyphicon glyphicon-thumbs-down' %>
      <% end %>

      </h2>
  <% end %>
</div>
<div>

 <% if current_user %>

<%= link_to 'root', root_url %>
    <div class="allert">
      <h3>Add a new Comment!</h3>
      <%= form_for [@post, @post.comments.build] do|f| %>
      <%= f.label :body %>
      <%= f.text_area :body %>
      </br>
      <%= f.submit 'Add a new amazin and cool comment here!' %>
      <% end %>
    </div>
<% end %>
    <% if @post.list_of_comments %>
        <% @post.list_of_comments.each do |comment| %>
            <div>
              <p id="comment_body">
                <%= comment.body %>
                <!--<%= comment.user.try(:username) %>-->
              </p>
            </div>
            <div>
        <% end %>
<% end %>
</div>
