<%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track' => true %>
<div class="jumbotron">
  <% if @post.cached_votes_up > 5000 %>
    <h1 style="margin-top:-18px;"><span class="glyphicon glyphicon-bookmark" style="position:relative;margin-top:0;color:brown;top:0;padding-top:0;"></span>
    </h1>
    <div class="row" align="right" style="margin-top:-24px;">
  <% else %>
    <div class="row" align="right" style="margin-top:-6px;">
  <% end %>
  <% if @post.user && current_user && current_user.id == @post.user.id %>
    <h4>
      <a href="<%=edit_post_path %>">
        <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Post
      </a>
    </h4>
  <% end %>
  </div>

  <h1 style='text-align:center;'><%= @post.title  %></h1>

  <div class="pull-right">
    <div class="media">
      <div class="media">
        <a class="pull-left" style="width:70px;" href="<%=user_profiles_path(@post.user) rescue ""%>">
          <img class="media-object img-circle" style="margin-left:20px;width:40px;height:40px;" src="<%= @post.user.avatar.url(:thumb) rescue "/assets/missing-avatar.png" %>">
          <span class="glyphicon glyphicon-star" style="color:goldenrod;position:relative;top:-40px;left:8px;font-size:24px;"></span>
          <span class="badge" style="position:relative;top:-24px;left:20px;background-color:goldenrod;color:white;"><%=@post.user.ranking rescue 0%></span>
        </a>
          <div class="media-body">
            <h4 class="media-heading"><i>Ruled By: </i></h4>
              <a href="<%=user_profiles_path(@post.user) rescue ""%>">
                <h4 style="margin-top:-2px;"><%= @post.user.username rescue "Vigap" %></h4>
              </a>
          </div>
      </div>
    </div>
  </div>

  <div class="row"></div>

  <br>
  <p><%= @post.body.html_safe %></p>
  <% if current_user != @post.user %>
      <h2>
      <%= link_to " #{@post.cached_votes_up}", up_post_path(@post), method: :put, remote: true, id: 'link_up', class:'label label-success glyphicon glyphicon-thumbs-up vote-btn' %>
      <%= link_to " #{@post.cached_votes_down}", down_post_path(@post), method: :put, remote: true, id: 'link_down', class:'label label-danger glyphicon glyphicon-thumbs-down vote-btn' %>
      </h2>
  <% end %>
  <br>

  <div class="pull-right">
    <div class="media">
      <h4 class="pull-left media-heading" style="margin-top:3px;"><i>Created By: </i></h4>
      <div class="media" style="margin-top:0;padding-top:0;top:0;height:30px;">
        <a href="<%=user_profiles_path(@post.user) rescue ""%>">
          <img class="media-object img-circle pull-left" style="width:24px;height:24px;" src="<%= @post.user.avatar.url(:thumb) rescue "/assets/missing-avatar.png" %>">
          <h4 class="media-body pull-right" style="margin:3px 0 0 -5px;padding:0;top:0;">
            <%= @post.user.username rescue "Vigap" %>
          </h4>
        </a>
        <span class="badge" style="position:relative;top:10px;left:-10px;"><%=@post.user.ranking rescue 0%></span>
      </div>
    </div>
  </div>

  <div class="row">
    <% @post.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag), class: "btn btn-default" %>
    <%end%>
  </div>
</div>


<div>
 <% if current_user %>
    <%= form_for [@post, @post.comments.build] do|f| %>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <%= f.text_area :body, placeholder: "Add your thoughts!", class: "form-control", style: "font-size: 18px;height: 200px;" %>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <span class="input-group-btn">
            <%= f.submit 'Post comment', class: "btn btn-lg btn-success", style: "width: 100%; font-size: 24px;" %>
          </span>
        </div>
        <div class="col-md-4"></div>
      </div>
    <% end %>
<% end %>
</div>
<hr>
<div class="comments-box row">
<% if @post.list_of_comments %>
  <% @post.list_of_comments.each do |comment| %>
    <% if comment.body %>
      <div class="media comment">

        <a class="pull-left" href="<%=user_profiles_path(comment.user.username) rescue ""%>">
          <%= image_tag comment.user.avatar.url(:medium), class:'img-circle', style:'height:64px;width:64px;' %>
          <% if comment.user.ranking %>
            <% if comment.user.ranking < 0 %>
              <span class="badge alert-danger">
            <% else %>
              <span class="badge" style="background-color:slate-grey;">
            <% end %>
            <%=comment.user.ranking%>
          <% else %>
            0
          <% end %>
          </span>
        </a>

        <div class="media-body">
          <% if comment.created_at > Time.now - 1.days %>
              <span class="label label-warning glyphicon glyphicon-dashboard pull-right">&nbsp;
          <% else %>
              <span class="label label-default glyphicon glyphicon-dashboard pull-right">&nbsp;
          <% end %>
          <%=time_ago_in_words(comment.created_at)%></span>

          <h4 class="media-heading">
            <strong>
              <%= link_to comment.user.username, user_profiles_path(comment.user.username) rescue "" %>
            </strong>says:
          </h4>

          <p><%=comment.body%></p>
            <% if current_user != comment.user %>
              <h4>
                <%= link_to " #{comment.cached_votes_up}", up_post_comment_path(@post.id, comment), method: :put, remote: true, id: 'link_up_comment', class:'label label-success glyphicon glyphicon-thumbs-up vote-btn' %>
                <%= link_to " #{comment.cached_votes_down}", down_post_comment_path(@post.id, comment), method: :put, remote: true, id: 'link_down_comment', class:'label label-danger glyphicon glyphicon-thumbs-down vote-btn' %>
              </h4>
            <% end %>

        </div>
      </div>
      <hr>
    <% end %>
  <% end %>
<% end %>
</div>
