<%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track' => true %>

<section class="post-content">

    <div class="container">

        <% if @post.cached_votes_up > 500 %>
            <span class="icon icon-bookmark"></span>
        <% end %>

        <div class="jumbotron">

          <div class="post-header">
            <h1><%= @post.title  %></h1>

            <div class="subtitle">

                <% if @post.created_at > Time.now - 1.days %>
                   <span class="post-stats icon icon-clock-o warn">
                <% else %>
                   <span class="post-stats icon icon-clock-o">
                <% end %>
                <span>Created <%=time_ago_in_words(@post.created_at)%> ago</span>
                <span>by <a href="<%=user_path(@post.user) rescue ""%>" id="_posts_createdby_profile">
                    <%= @post.user.username rescue "Vigap" %></a>
                    <span class="badge <%=@post.user.username.gsub(/ /, "-") rescue "Vigap"%>-rank">
                      <%=@post.user.ranking rescue 0%>
                    </span>
                </span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="icon icon-eye"></span> <%= "#{@post.impressionist_count} views" %>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="icon icon-comment"></span> <a href="#" title="Add comment" id='new-post-comment'>Add comment</a></span> </span>

            </div> <!-- .subtitle -->

            <div class="thirdrow">
              RULED BY:
              <a href="<%=user_path(@post.guru) rescue ""%>" class="user" id="_posts_ruledby_profile">
                <span class="icon icon-star"></span>
                <span>
                  <%= image_tag((@post.guru.avatar.url(:medium) rescue asset_path('missing-avatar.png')), class:'img-circle', style:'height:64px;width:64px;') %>
                  <span class="badge badge-ruled-by <%=@post.guru.username.gsub(/ /, "-") rescue "Vigap"%>-rank">
                    <%=@post.guru.ranking_for(post) rescue 0%>
                  </span>
                </span>
                <%= @post.guru.username rescue "Vigap" %>
              </a>
            </div>

          </div> <!-- .post-header -->



                <div class="article-body">
                  <p><%= @post.body.html_safe %></p>
                </div>


                <div class="centered article-vote">
                <% if current_user != @post.user %>
                    <% votetag = @post.user.username.gsub(/ /, "-") rescue "Vigap" %>
                    <%= link_to " #{@post.cached_votes_up}", up_post_path(@post), method: :put, remote: true, id: votetag + '-post-upvote', class:'label label-success glyphicon glyphicon-thumbs-up vote-btn' %>
                    <%= link_to " #{@post.cached_votes_down}", down_post_path(@post), method: :put, remote: true, id: votetag + '-post-downvote', class:'label label-danger glyphicon glyphicon-thumbs-down vote-btn' %>
                <% else %>
                    <span id='link_up' class='label label-danger glyphicon glyphicon-thumbs-up vote-btn ownvote'><%=" #{@post.cached_votes_up}"%></span>
                    <span id='link_down' class='label label-danger glyphicon glyphicon-thumbs-down vote-btn ownvote'><%=" #{@post.cached_votes_down}"%></span>
                <% end %>
                </div>
                <br>

                <div class="centered">
                  <div class="subscribe">
                    <% if current_user %>
                        <% if @post.is_post_subscribe?(current_user) %>
                            <%= render 'posts/unfollow' %>
                        <% else %>
                            <%= render 'posts/follow' %>
                        <% end %>
                    <% end %>
                 </div> <!-- .subscribe -->
                <% if @post.user && current_user && current_user.id == @post.user.id %>
                    <a href="<%=edit_post_path %>">
                      <!--<span class="label label-warning glyphicon glyphicon-edit">&nbsp;Edit Post</span>-->
                      <button class="pull-right btn btn-lg btn-default glyphicon glyphicon-edit" style="word-spacing:-10px;" id="_posts_editpost">&nbsp;Edit Post</button>
                    </a>
                <% end %>
               </div>

                <div class="row">
                  <% @post.tags.each do |tag| %>
                      <%= link_to tag.name, tag_path(tag), class: "btn btn-default", id: '_posts_tags' %>
                  <%end%>
                </div>

          </div>

        </div>

</section>


<div class="container">
 <% if current_user %>
    <%= form_for [@post, @post.comments.build] do|f| %>
      <div class="row">
        <div class="add-comment-form">
          <%= f.text_area :body, placeholder: "Add your thoughts!", class: "form-control", id: "_posts_comment_field" %>
          <%= f.submit 'Post comment', class: "btn btn-lg btn-default", id: "_posts_post_comment" %>
        </div>
      </div>
    <% end %>
<% end %>
</div>

<div class="container">
  <div class="comments-box row">
    <div class="col-sm-12">
      <%= render @post.comments.roots %>
    </div>
  </div>
</div>
