<%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track' => true %>

<div class="post-hero">

    <div class="container">
      <% if @post.cached_votes_up > 0 %>
          <span class="icon icon-bookmark"></span>
      <% end %>


  <div class="post-header">
    <h1>
      <%= @post.title  %></h1>

        <% if @post.created_at > Time.now - 1.days %>
           <span class="post-stats icon icon-clock-o warn">
        <% else %>
           <span class="post-stats icon icon-clock-o">
        <% end %>
        <span>Created <%=time_ago_in_words(@post.created_at)%> ago</span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span>by <a href="<%=user_path(@post.user) rescue ""%>" id="_posts_createdby_profile">
            <%= @post.user.username rescue "Vigap" %></a>
            <span class="badge <%=@post.user.username.gsub(/ /, "-") rescue "Vigap"%>-rank">
              <%=@post.user.ranking rescue 0%>
            </span>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="icon icon-eye"></span> <%= "#{@post.impressionist_count} views so far!" %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="icon icon-comment"></span> <a href="#" title="Add comment">Add comment</a></span> </span>




        <div class="subscribe">
          <% if current_user %>
              <% if @post.is_post_subscribe?(current_user) %>
                  <%= render 'posts/unfollow' %>
              <% else %>
                  <%= render 'posts/follow' %>
              <% end %>
          <% end %>

       </div> <!-- .subscribe -->

  </div> <!-- .post-header -->

</div>

</div> <!-- .post-hero -->

<section class="post-content">
    <div class="container">


            <div class="content-post">


                <div class="bubble-container">
                  <a href="<%=user_path(@post.user) rescue ""%>" class="user" id="_posts_ruledby_profile">
                    <span class="user-avatar">
                        <img width="60" src="<%= @post.user.avatar.url(:thumb) rescue "/assets/missing-avatar.png" %>">
                    </span>
                    <span class="icon icon-star"></span>


                  </a>


                <div class="the-bubble left">
                  <p><%= @post.body.html_safe %></p>

                    <div class="bubble-meta">
                      Added by:
                      <a href="#" title=""><%= @post.user.username rescue "Vigap" %></a>

                       <span class="badge <%=@post.user.username.gsub(/ /, "-") rescue "Vigap"%>-rank">
                      <%=@post.user.ranking rescue 0%>
                    </span>
                    </div> <!-- .bubble-meta -->
                </div>

                </div>

                <% if current_user != @post.user %>
                    <h2>
                    <% votetag = @post.user.username.gsub(/ /, "-") rescue "Vigap" %>
                    <%= link_to " #{@post.cached_votes_up}", up_post_path(@post), method: :put, remote: true, id: votetag + '-post-upvote', class:'label label-success glyphicon glyphicon-thumbs-up vote-btn' %>
                    <%= link_to " #{@post.cached_votes_down}", down_post_path(@post), method: :put, remote: true, id: votetag + '-post-downvote', class:'label label-danger glyphicon glyphicon-thumbs-down vote-btn' %>
                    </h2>
                <% else %>
                  <h2>
                    <span id='link_up' class='label label-success glyphicon glyphicon-thumbs-up vote-btn'><%=" #{@post.cached_votes_up}"%></span>
                    <span id='link_down' class='label label-danger glyphicon glyphicon-thumbs-down vote-btn'><%=" #{@post.cached_votes_down}"%></span>
                  </h2>
                <% end %>
                <br>

                <div class="row">
                  <% @post.tags.each do |tag| %>
                      <%= link_to tag.name, tag_path(tag), class: "btn btn-default", id: '_posts_tags' %>
                  <%end%>
                </div>
            </div> <!-- content -->
        </div>

</section>


<div class="container">
 <% if current_user %>
    <%= form_for [@post, @post.comments.build] do|f| %>
      <div class="row">
        <div class="add-comment-form">
          <%= f.text_area :body, placeholder: "Add your thoughts!", class: "form-control", id: "_posts_comment_field" %>
          <%= f.submit 'Post comment', class: "btn btn-lg btn-default", id: "_posts_post_comment" %>
        </div>
      </div>
    <% end %>
<% end %>
</div>


<div class="container">
<div class="comments-box row">
<% if @post.comments %>
  <% @post.comments.each do |comment| %>
    <% if comment.body %>
      <% if comment.cached_votes_up - comment.cached_votes_down < 0 %>
        <div class="media comment" style="opacity:<%= 1 + (comment.cached_votes_up - comment.cached_votes_down) / 10.0 %>">
      <% else %>
        <div class="media comment">
      <% end %>

        <a class="pull-left" href="<%=user_path(comment.user) rescue ""%>" id="_posts_comment_profile">
          <%= image_tag comment.user.avatar.url(:medium), class:'img-circle', style:'height:64px;width:64px;' %>
          <% if comment.user.ranking %>
            <% if comment.user.ranking < 0 %>
              <span class="badge alert-danger <%=comment.user.username.gsub(/ /, "-") rescue "Vigap"%>-rank">
            <% else %>
              <span class="badge <%=comment.user.username.gsub(/ /, "-") rescue "Vigap"%>-rank" style="background-color:slate-grey;">
            <% end %>
            <%=comment.user.ranking%>
          <% else %>
            0
          <% end %>
          </span>
        </a>

        <div class="media-body">
          <% if comment.created_at > Time.now - 1.days %>
              <span class="label label-warning glyphicon glyphicon-dashboard pull-right">&nbsp;
          <% else %>
              <span class="label label-default glyphicon glyphicon-dashboard pull-right">&nbsp;
          <% end %>
          <%=time_ago_in_words(comment.created_at)%></span>

          <h4 class="media-heading">
            <strong>
              <%= link_to comment.user.username, user_path(comment.user) rescue "Anonymous" %>
            </strong>says:
          </h4>

          <p><%=comment.body%></p>
            <% if current_user != comment.user %>
              <h4>
                <% votetag = comment.user.username.gsub(/ /, "-") rescue "Vigap" %>
                <%= link_to " #{comment.cached_votes_up}", up_post_comment_path(@post.id, comment), method: :put, remote: true, id: votetag + '-comment-upvote', class:'label label-success glyphicon glyphicon-thumbs-up vote-btn' %>
                <%= link_to " #{comment.cached_votes_down}", down_post_comment_path(@post.id, comment), method: :put, remote: true, id: votetag + '-comment-downvote', class:'label label-danger glyphicon glyphicon-thumbs-down vote-btn' %>
              </h4>
            <% else %>
              <h4>
                <span id='link_up_comment' class='label label-success glyphicon glyphicon-thumbs-up vote-btn'><%=" #{comment.cached_votes_up}"%></span>
                <span id='link_down_comment' class='label label-danger glyphicon glyphicon-thumbs-down vote-btn'><%=" #{comment.cached_votes_down}"%></span>
              </h4>
            <% end %>

        </div>
      </div>
      <hr>
    <% end %>
  <% end %>
<% end %>
</div>
</div>

    <div class="container">

      <h2>User that follow this post:</h2>
      <ul class="followers">
      <% @users_follow.each do |user| %>
            <li>
              <span class="next-av"></span>
              <a href="<% user_path(user) %>" title="<%= user.username %>"><%= user.username %></a>
            </li>
            <li>
              <span class="next-av"></span>
              <a href="<% user_path(user) %>" title="<%= user.username %>"><%= user.username %></a>
            </li>
            <li>
              <span class="next-av"></span>
              <a href="<% user_path(user) %>" title="<%= user.username %>"><%= user.username %></a>
            </li>
            <li>
              <span class="next-av"></span>
              <a href="<% user_path(user) %>" title="<%= user.username %>"><%= user.username %></a>
            </li>
            <li>
              <span class="next-av"></span>
              <a href="<% user_path(user) %>" title="<%= user.username %>"><%= user.username %></a>
            </li>
      <% end %>
      </ul>
      <div class="row">
        <% if @post.user && current_user && current_user.id == @post.user.id %>
            <a href="<%=edit_post_path %>">
              <!--<span class="label label-warning glyphicon glyphicon-edit">&nbsp;Edit Post</span>-->
              <button class="pull-right btn btn-lg btn-success glyphicon glyphicon-edit" style="word-spacing:-10px;" id="_posts_editpost">&nbsp;Edit Post</button>
            </a>
        <% end %>
      </div>

    </div>
