<!DOCTYPE html>
<html>
<head>
  <title>Vigap</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'animations', media: 'all' %>
  <%= stylesheet_link_tag    'icon-font', media: 'all' %>
  <%= stylesheet_link_tag    'template25', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
<header class="header-23">
    <div class="mask">&nbsp;</div>
    <div class="bg-midnight-blue" style="height: 50px;">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation" style="top:0;margin-top:-15px;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <%= link_to image_tag("logo.png", :style => "height:30px;margin-top:2px;margin-right:0;"), "#{request.protocol}#{request.host_with_port}", :class => "brand" %></a>
                </div>

                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <% if current_user %>
                            <li><%= link_to 'New Post', new_post_path %></li>
                        <% end %>
                    </ul>

                    <%= form_tag root_path, method: :get, class: "navbar-form navbar-left" do %>
                        <div class="form-group">
                            <div class="input-group">
                                <%= text_field_tag :query, params[:query], placeholder: "Search", class: 'typeahead form-control searchbox' %>
                                <%= submit_tag 'Search bro', class: "hidden" %>
                            </div>
                        </div>
                    <% end %>

                    <ul class="nav navbar-nav navbar-right">
                        <% if current_user %>
                        <li>
                            <%= link_to 'Logout' , logout_path  %>
                        </li>
                        <% else %>
                        <li>
                            <%= link_to 'Sign UP', new_user_path %>
                        </li>
                        <% end %>

                      </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        <% if current_user %>
                        <li>
                            <a href="<%=user_path(current_user)%>" style="margin-right:30px;margin-top:-4px;">
                                <%= image_tag current_user.avatar.url, :height => "35px", :style => "margin-top:-6px;margin-right: 4px;" %>
                                <%= current_user.username %>
                            </a>
                        </li>
                        <% else %>
                        <li>
                            <%= link_to 'Login', new_session_path %>
                        </li>
                        <% end %>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    </div>
</header>


<div data-pjax-container class="pagecontent">
  <%= yield %>
</div>

</body>
</html>
